<ngx-spinner
  bdColor="rgba(0, 0, 0, 1)"
  template="<img src='https://cdn.dribbble.com/users/886358/screenshots/2980235/loading.gif' />"
>
</ngx-spinner>

<div class="container">
    <div class="login-sec d-flex ">
      <div class="login-sec-left ">
        <div class="login-logo d-flex flex-column  align-items-end   px-5">
        <img src="/assets/CUET reverse logo 1.png" alt="" width="193px " height="119px">
        <h3 class="text-light text-end mt-5 ">Join now <br>
            and crack CUET <br> with  flying colors</h3>
        </div>
        <div class="login-img">
            <img src="/assets/image 11 (1).png" class="p-1" alt="" height="420px" width="597px">
        </div>
      </div>
      <div class="right-sec  bg-white">
        
       
        <div class="forms-sec px-5 my-5">
            
            <form  class="mt-5 pt-1" [formGroup]="loginForm" (ngSubmit)="login()">
                <h5 class="text-dark signin text-center h3 fw-bold mt-5">Sign In</h5>
                <div class="d-flex  justify-content-around  align-items-center mt-5 my-5">
                 <button type="button" class="btn btn-logo  "><img src="/assets/image 1.png" class="m-2" width="17px" height="17px" alt=""> Signup with google</button>
                
                 <button type="button" class="btn btn-logo   "><img src="/assets/image 2.png"   class="" alt=""> Signup with google</button>
                </div>
                <div class="center text-center">
                  <p class="text-secondary">or with email</p>
                </div>
               
               
                    <div class="   mt-5 mb-4" >
                     
                      <input type="text" class="form-control p-3 " id="exampleInputEmail1" formControlName="email" aria-describedby="emailHelp" placeholder="email id / mobile number*">
                      <div *ngIf="f['email'].touched && f['email'].invalid" class="text-danger ">
                        <div *ngIf="f['email'].errors && f['email'].errors['required']">Email/Mobile number required*.</div>
                      
                    </div>
                    </div>
                    <div class="mb-4 password">
                          
                          <input type="password" matInput [type]="hide ? 'password' : 'text'" class="form-control p-3 " formControlName="password" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="password*">
                        <a mat-icon-button matSuffix (click)="hide = !hide" class="password-view" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </a>
                        <div *ngIf="f['password'].touched && f['password'].invalid" class="text-danger ">
                          <div *ngIf="f['password'].errors && f['password'].errors['required']">Password required*.</div>
                        
                      </div>
                    </div>
                    <p class="btm-sec frgotp">Forgot password?</p>
                   
                    <div class="d-grid gap-2">
                        <button class="btn login-btn btn-primary p-2 mt-2" type="submit" [disabled]="loginForm.invalid" >Continue</button>
                       
                      </div>
                      <div class="btm mt-3">
                      
                        <p class="text-center btm-lgin">Not a Member yet?  <span class="btm-sec btm-login-sec" routerLink="/signup">Sign up</span ></p>
                      </div>
                      
                  
            </form>
        </div>
      </div>
      
    </div>
   
 
    
    
    </div>
 
    
    